<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div [formGroup]="form" class="card-body" autocomplete="off">
              <h1>Login</h1>
              <p class="text-muted">{{ 'login-info' | translate }}</p>

              <fieldset class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input id="username" formControlName="username" type="text" class="form-control" placeholder="{{ 'username' | translate }}">
                </div>
                <small *ngIf="form.get('username').invalid && (form.get('username').dirty || form.get('username').touched)" class="text-muted">
                
                  <div *ngIf="form.get('username').hasError('required')">
                    Enter your username.
                  </div>
                  <div *ngIf="form.get('username').hasError('minlength') || form.get('username').hasError('pattern')">
                    Invalid username.
                  </div>
            
                </small>
              </fieldset>

              <fieldset class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input id="password" formControlName="password" type="password" class="form-control" placeholder="{{ 'password' | translate }}">
                </div>
                <small *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" class="text-muted">
                
                  <div *ngIf="form.get('password').hasError('required')">
                    {{ 'password-required' | translate }}
                  </div>
                  <div *ngIf="form.get('password').hasError('minlength')">
                    {{ 'invalid-password' | translate}}
                  </div>
                
                </small>
              </fieldset>

              <div class="row">
                <div class="col-6">
                  <button type="submit" class="btn btn-primary px-4" (click)="onSubmit()" [attr.disabled]='form.valid ? null : true'>Login</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0" routerLink='/reset'>{{ 'forgot-password' | translate }}</button>
                </div>
              </div>
            </div>

            <app-loading *ngIf="loading"></app-loading>

            <div *ngIf="error" class="alert alert-danger" role="alert">
              <strong>{{ 'error' | translate }}.</strong> {{ status | translate }}
            </div>

          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-3" routerLink='/register'>Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
