<div *ngIf="!success; else success_message" class="col-md-6 offset-md-3 reset-card">
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0 text-center">Password Reset</h3>
    </div>
    <div class="card-block">
      <form [formGroup]="form" class="form" role="form" autocomplete="off">
        <div class="form-group">
          <label for="inputResetPasswordEmail">{{ 'username' | translate }}</label>
          <input formControlName="username" type="username" class="form-control" id="inputResetPasswordEmail" required="">
          <span id="helpResetPasswordEmail" class="form-text small text-muted">
                {{ 'reset-password' | translate }}
          </span>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn btn-primary px-4" (click)="onSubmit()" [attr.disabled]='form.valid ? null : true'>{{ 'reset' | translate }}</button>
          </div>
          <div class="col-6 text-right">
            <button type="button" class="btn btn-link px-0" routerLink='/recover/username'>{{ 'forgot-username' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<div *ngIf="success" class="alert alert-success" role="alert">
  <strong>{{ 'success' | translate }}.</strong> Email was succesfully sent.
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
    <strong>{{ 'error' | translate }}.</strong> {{ status | translate }}
</div>
  <app-loading *ngIf="loading"></app-loading>
</div>

