

<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div [formGroup]="form" class="card-body p-4" autocomplete="off">
            <h1>{{ 'register' | translate }}</h1>
            <p class="text-muted">Create your account</p>
            
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input id="name" formControlName="name" type="text" class="form-control" placeholder="{{ 'name' | translate }}">
              </div>
              <small *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)" class="text-muted">
                
                <div *ngIf="form.get('name').hasError('required')">
                  Name is required.
                </div>
                <div *ngIf="form.get('name').hasError('minlength')">
                  Name must have at least 4 characters.
                </div>
                <div *ngIf="form.get('name').hasError('pattern')">
                  Must contains only letters.
                </div>
                
              </small>
            </fieldset>
            
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input id="username" formControlName="username" type="text" class="form-control" placeholder="{{ 'username' | translate }}">
              </div>
              <small *ngIf="form.get('username').invalid && (form.get('username').dirty || form.get('username').touched)" class="text-muted">
                
                <div *ngIf="form.get('username').hasError('required')">
                  Username is required.
                </div>
                <div *ngIf="(form.get('username').hasError('minlength') || form.get('username').hasError('maxlength')) && !(form.get('username').hasError('pattern'))">
                  {{ 'username-error' | translate }}
                </div>
                <div *ngIf="form.get('username').hasError('pattern')">
                  Username can contains only letters.
                </div>
                
              </small>
              
            </fieldset>
            
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input id="email" formControlName="email" type="text" class="form-control" placeholder="{{ 'email' | translate }}">
              </div>
              <small *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" class="text-muted">
                
                <div *ngIf="form.get('email').hasError('required')">
                  E-mail is required.
                </div>
                <div *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                  Invalid email.
                </div>
                
              </small>
            </fieldset>
            
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input id="password" formControlName="password" type="password" class="form-control" placeholder="{{ 'password' | translate }}">
              </div>
              <small *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)" class="text-muted">
                
                <div *ngIf="form.get('password').hasError('required')">
                  {{ 'password-required' | translate }}
                </div>
                <div *ngIf="form.get('password').hasError('minlength') || form.get('password').hasError('pattern')">
                  {{ 'password-error' | translate}}
                </div>
                
              </small>
            </fieldset>
            
            <fieldset class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="{{ 'repeat-password' | translate }}">
              </div>
              <small *ngIf="form.get('confirmPassword').invalid && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
              class="text-muted">
              
              <div *ngIf="form.get('confirmPassword').hasError('MatchPassword')">
                {{ 'not-same-password' | translate }}
              </div>
              
            </small>
          </fieldset>
          <button type="button" class="btn btn-block btn-success" (click)="onSubmit()" [attr.disabled]="form.valid ? null : true">{{ 'register' | translate }}</button>
          
          <app-loading *ngIf="loading"></app-loading>
          
          <div *ngIf="status" class="alert alert-danger" role="alert">
              <strong>{{ 'error' | translate }}.</strong> {{ status | translate }}
          </div>
          <div *ngIf="success" class="alert alert-success" role="alert">
              <strong>{{ 'success' | translate }}.</strong> {{ 'register-success' | translate }} <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>