<div class="col-md-6 offset-md-3 reset-card">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0 text-center">{{ 'reset-username' | translate }}</h3>
      </div>
      <div class="card-block">
        <form [formGroup]="form" class="form" role="form" autocomplete="off">
          <div class="form-group">
            <label for="inputResetPasswordEmail">{{ 'email' | translate }}</label>
            <input formControlName="email" type="email" class="form-control" id="email" required>
            <span id="helpResetPasswordEmail" class="form-text small text-muted">
                {{ 'reset-username-info' | translate }}
            </span>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-primary px-4" (click)="onSubmit()" [attr.disabled]='form.valid ? null : true'>{{ 'reset' | translate }}</button>
          </div>
        </form>
        <app-loading *ngIf="loading"></app-loading>
        <div *ngIf="error" class="alert alert-danger" role="alert">
            <strong>{{ 'error' | translate }}.</strong> Invalid e-mail or not in use.
        </div>
        <div *ngIf="success" class="alert alert-success" role="alert">
            <strong>{{ 'success' | translate }}.</strong> Your username was succesfully sent. Click <a routerLink="/login">here</a> to Log In.
        </div>
      </div>
    </div>
  </div>
  