<div *ngIf="valid" class="col-md-6 offset-md-3 reset-card">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0 text-center">{{ 'new-password' | translate }}</h3>
      </div>
      <div class="card-block">
        <form [formGroup]="form" class="form" role="form" autocomplete="off">
          <div class="form-group">
            <label for="inputResetPasswordEmail">{{ 'password' | translate}}</label>
            <input formControlName="password" type="password" class="form-control" id="inputResetPasswordEmail" required="">
            <span id="helpResetPasswordEmail" class="form-text small text-muted">
                {{ 'valid-password' | translate }}
            </span>
          </div>
          <div class="text-right">
              <button type="button" class="btn btn-primary px-4" (click)="onSubmit()" [attr.disabled]='form.valid ? null : true'>{{ 'save' | translate }}</button>
            </div>
        </form>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>{{ 'error' | translate }}.</strong> URL has expired. You can request a new link <a routerLink="/reset">here</a>.
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
        <strong>{{ 'success' | translate }}.</strong> Password has changed. Click <a routerLink="/login">here</a> to Log In.
    </div>
  </div>

  <div class="col-md-6 offset-md-3 reset-card">
      <div *ngIf="!valid" class="alert alert-danger" role="alert">
          Invalid URL. You can request an link <a routerLink="/reset">here</a>.
      </div>
  </div>
  